.RData
.Rhistory
*.Rcheck/
*.tar.gz
*~
src/*.o
src/external
src/tests
src/searcher.h
src/searcher.cpp

.Rproj.user
.travis.yml
test_baseline*
test_runner.R
git_commit.sh
tests/testthat/Baseline_GBM_Objects/
*.Rout
*.pdf
*.Rproj
src/*.so
Debug/
.project
.cproject
src/gbmBuilder.h
src/gbmBuilder.cpp
inst/doc
